@import "http://webfonts.ru/import/basicomical.css";
/* = Сброс отступов для всех элементов */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
/* = Убираем маркировку списков */
ul, ol { list-style: none }

/* = Работаем с таблицами: убираем удвоение рамок ячеек и расстояние между ячейками */
table { border-collapse: collapse; border-spacing: 0 }

/* = Убираем рамку для изображений */
img { border: none; height: auto; max-width: 100%; }

a{text-decoration: none; color: #2D2D2D;}

body{
    font-family: 'Basic Comical NC';
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeSpeed;
    font-size: 1em;
    color: #2D2D2D;

}
#wrepper{
    min-width: 960px;
    max-width: 1280px;
    width: 1024px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 280px;
    position: relative;
    outline: 1px solid black;
}
#header h2{
    position: relative;
    top: 100px;
    font-size: 2em;
}

.top_info{
    padding: 20px;
    font-size: 1.3em;
}
.top_info p{
    margin-bottom: 10px;
}
#logo{
    float: left;
}

/* ===== MENU ===== */
#menu{
    height: 50px;
    outline: 1px solid black;
    position: relative;
    bottom: -24px;
}
#menu ul{
    width: 100%;
}
#menu li{
    width: 20%;
    float: left;
    border-right: 1px solid;
    text-align: center;

}
    #menu li:hover{
        background: #D6D6D6;
    }
#menu li:last-child{
    border-right: 0px;
}
#menu li a{
    line-height: 50px;
}
    #menu li a:hover{
        color: #FBAF40;
    }

/* ====== CONTAINER ====== */

#container{
    min-height: 500px;
    margin: 0 auto;
    outline: 1px solid black;
}

/* ====== LEFT BLOCK ====== */

#left_block{
    width: 280px;
    min-height: 400px;
    float: left;
    outline: 1px solid blue;
}


/* ===== PAGE ====== */

#page{
    width: 744px;
    min-height: 450px;
    float: right;
    outline: 1px solid red;
}

/* ===== FOOTER ===== */

#footer{
    height: 60px;
    outline: 1px solid black;
}
